.env
/.env
.env/
env/
/env 
node_modules/
/node_modules
node_modules
.venv
venv
venv/
/venv
.venv/
/.venv
.burrow
/.burrow
.burrow/
Lib/
Scripts/
pyvenv.cfg
utils/__pycache__/
integrations/__pycache__
__pycache__/
cache/state.json
utils/llm_parse_tester.py